<ion-nav-view name="educationEdit">
   <ion-header-bar class="bar-calm">
      <a href="#/myResume" class="button button-clear icon ion-ios-arrow-back"></a>
      <h1 style="text-align:center" class="title">教育经历</h1><a ng-click="submit()" class="button button-clear">保存</a>
   </ion-header-bar>
   <ion-content style="padding:0 20px;">
      <label style="border-left:none;border-right:none;" class="item item-input">
         <span class="input-label">学校名称</span>
         <input type="text" style="text-align:right;" placeholder="请输入学校名称" ng-model="education.name" />
      </label>
      <a style="padding:12px;border-left:none;border-right:none;" ng-click="selectEntranceDate()" class="item row">
         <span class="col-50">入学时间</span>
         <span class="col-50 qy-text-right">{{education.entDate | date:'yyyy-MM-dd'}}<i style="margin-left:12px;" class="icon ion-chevron-right"></i>
         </span>
      </a>
      <a style="padding:12px;border-left:none;border-right:none;" ng-click="selectGraduationDate()" class="item row">
         <span class="col-50">毕业时间</span>
         <span class="col-50 qy-text-right">{{education.graDate | date:'yyyy-MM-dd'}}<i style="margin-left:12px;" class="icon ion-chevron-right"></i>
         </span>
      </a>
      <label style="border-left:none;border-right:none;" class="item item-input item-select">
         <span class="input-label">专&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp业</span>
         <select type="text" style="direction:rtl;" placeholder="请输入学校名称" ng-model="education.major"></select>
      </label>
      <label style="border-left:none;border-right:none;" class="item item-input item-select">
         <span class="input-label">学&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp历</span>
         <select ng-model="education.learn" ng-options="x.value as x.name for x in educationList" style="width:60%;"></select>
      </label>
   </ion-content>
</ion-nav-view>