<ion-nav-view name="education">
   <ion-header-bar class="bar-calm">
      <a href="#/myResume" class="button button-clear icon ion-ios-arrow-back"></a>
      <h1 style="text-align:center" class="title">教育经历</h1><a ng-click="data.showDelete = !data.showDelete; data.showReorder = false" class="button button-clear">编辑</a>
   </ion-header-bar>
   <ion-content style="padding:0 20px;">
      <ion-list style="margin-top:12px;" show-delete="data.showDelete" show-reorder="data.showReorder">
         <ion-item ng-repeat="x in $root.resumeDetails.education">
            <div class="row">{{x.begdate}}-{{x.endate}}</div>
            <div class="row">{{x.swsc}}</div>
            <div class="row">
               <span style="display:inline-block;border-right:1px solid #ddd;">大专</span>
               <span>专业名称</span>
            </div>
            <ion-delete-button ng-click="onItemDelete(item)" class="icon ion-minus-circled"></ion-delete-button>
         </ion-item>
      </ion-list>
   </ion-content>
   <a style="position:absolute;bottom:0;right:0;display:flex;z-index:9;font-size:50px;" ui-sref="educationEdit" class="icon ion-ios-plus"></a>
</ion-nav-view>