<ion-nav-view name="entrepreneurshipDetails">
   <ion-header-bar class="bar-calm">
      <a href="#/entrepreneurship" class="button button-clear icon ion-ios-arrow-back"></a>
      <h1 style="text-align:center" class="title">详情</h1>
      <a class="button button-clear icon ion-share"></a>
   </ion-header-bar>
   <ion-content style="padding:0 20px;">
      <div style="margin-left:0px;margin-right:0px;box-shadow:none" class="list card">
         <div style="border-color:transparent;background-color:transparent;padding-left:0px;padding-right:0px;" class="item item-assertive">
            <!--img(src="../../img/adam.jpg")-->
            <h2>{{new.ttltitle}}</h2>
            <div class="row">
               <p class="col-50">发布时间：
                  <span>{{new.reldate}}</span>
               </p>
               <p class="col-50">来源：
                  <span>中国青年网</span>
               </p>
            </div>
         </div>
         <div style="padding-left:0px;padding-right:0px;" class="item item-body">
            <img src="img/adam.jpg" class="full-image" />
            <div ng-bind-html="new.ttlcon"></div>
         </div>
      </div>
   </ion-content>
</ion-nav-view>