<ion-nav-view name="jobHistoryEdit">
   <ion-header-bar class="bar-calm">
      <a href="#/myResume" class="button button-clear icon ion-ios-arrow-back"></a>
      <h1 style="text-align:center" class="title">工作经历</h1><a ng-click="submit()" class="button button-clear">保存</a>
   </ion-header-bar>
   <ion-content style="padding:0 20px;">
      <label style="border-left:none;border-right:none;" class="item item-input">
         <span class="input-label">公司名称</span>
         <input type="text" style="text-align:right;" placeholder="请输入公司名称" ng-model="jobHistory.name" />
      </label>
      <a style="padding:12px;border-left:none;border-right:none;" ng-click="selectEntranceDate()" class="item row">
         <span class="col-50">入职时间</span>
         <span class="col-50 qy-text-right">{{jobHistory.entDate | date:'yyyy-MM-dd'}}<i style="margin-left:12px;" class="icon ion-chevron-right"></i>
         </span>
      </a>
      <a style="padding:12px;border-left:none;border-right:none;" ng-click="selectGraduationDate()" class="item row">
         <span class="col-50">离职时间</span>
         <span class="col-50 qy-text-right">{{jobHistory.graDate | date:'yyyy-MM-dd'}}<i style="margin-left:12px;" class="icon ion-chevron-right"></i>
         </span>
      </a>
      <label style="border-left:none;border-right:none;" class="item item-input item-select">
         <span class="input-label">职位名称</span>
         <select type="text" style="direction:rtl;" placeholder="请输入学校名称" ng-model="jobHistory.major"></select>
      </label>
      <a style="padding:12px;border-left:none;border-right:none;" ui-sref="jobSkill({title:'工作描述'})" class="item row">
         <span class="col-50">工作描述</span>
         <span ng-if="!$root.resumeDetails.jobDescribe" class="col-50 qy-text-right">请输入工作描述<i style="margin-left:12px;" class="icon ion-chevron-right"></i>
         </span>
      </a>
      <!--label.item.item-input(style="border-left:none;border-right:none;")span.input-label 工作描述
textarea(placeholder="请输入工作描述",rows="6",cols="50",ng-model="jobHistory.describe")-->
   </ion-content>
</ion-nav-view>