<ion-nav-view name="jobSkill">
   <ion-header-bar class="bar-calm">
      <a href="#/myResume" ng-if="title=='职业技能' || title== '自我描述' || title == '工作描述'" class="button button-clear icon ion-ios-arrow-back"></a>
      <a href="#/positionEdit/:oid" ng-if="title=='岗位职责'|| title =='薪酬福利' || title == '岗位要求'" class="button button-clear icon ion-ios-arrow-back"></a>
      <h1 style="text-align:center" class="title">{{title}}</h1><a ng-click="save()" ng-if="title=='职业技能' || title=='自我描述'" class="button button-clear">保存</a><a ng-if="title=='工作描述'" href="#/jobHistoryEdit" class="button button-clear">保存</a><a ng-if="title=='岗位职责'|| title == '薪酬福利'|| title == '岗位要求'"
      href="#/positionEdit/:oid" class="button button-clear">保存</a>
   </ion-header-bar>
   <ion-content style="padding:0 20px;">
      <label style="border-left:none;border-right:none;padding:0px;margin-top:12px;" ng-if="title=='职业技能'" class="item item-input">
         <textarea style="border:1px solid #ddd;" placeholder="请输入你擅长的职业技能..." rows="20" cols="50" ng-model="$root.resumeDetails.skills"></textarea>
      </label>
      <label style="border-left:none;border-right:none;padding:0px;margin-top:12px;" ng-if="title=='自我描述'" class="item item-input">
         <textarea style="border:1px solid #ddd;" placeholder="请输入你对自己的描述，比如兴趣爱好、自我评价等等..." rows="20" cols="50" ng-model="$root.resumeDetails.selfev"></textarea>
      </label>
      <label style="border-left:none;border-right:none;padding:0px;margin-top:12px;" ng-if="title=='工作描述'" class="item item-input">
         <textarea style="border:1px solid #ddd;" placeholder="请输入工作描述" rows="20" cols="50" ng-model="$root.resumeDetails.jobDescribe"></textarea>
      </label>
      <label style="border-left:none;border-right:none;padding:0px;margin-top:12px;" ng-if="title=='岗位职责'" class="item item-input">
         <textarea style="border:1px solid #ddd;" placeholder="请输入岗位职责" rows="20" cols="50" ng-model="$root.recruitMsg.pdec"></textarea>
      </label>
      <label style="border-left:none;border-right:none;padding:0px;margin-top:12px;" ng-if="title=='薪酬福利'" class="item item-input">
         <textarea style="border:1px solid #ddd;" placeholder="请输入薪酬福利" rows="20" cols="50" ng-model="$root.recruitMsg.salben"></textarea>
      </label>
      <label style="border-left:none;border-right:none;padding:0px;margin-top:12px;" ng-if="title=='岗位要求'" class="item item-input">
         <textarea style="border:1px solid #ddd;" placeholder="请输入岗位要求" rows="20" cols="50" ng-model="$root.recruitMsg.preq"></textarea>
      </label>
   </ion-content>
</ion-nav-view>