<ion-nav-view name="myRelease">
   <ion-header-bar class="bar-calm">
      <a href="#/tab/recruitMessing" class="button button-clear icon ion-ios-arrow-back"></a><a style="line-height:42px;text-align:center" ng-click="$root.modal.show()" class="title button button-clear">我的发布<i class="icon ion-ios-arrow-down"></i></a>
      <a ui-sref="positionEdit({oid:null})" class="button button-clear icon ion-plus"></a>
   </ion-header-bar>
   <ion-content style="padding:0 8px;">
      <ion-list>
         <ion-item ng-repeat="item in myReleaseList" ng-click="goJobDetails(item)">
            <div class="row">
               <div class="col-50">
                  <span>{{item.posit}}前端工程师</span>
               </div>
               <div class="col-50 qy-text-right">
                  <span class="qy-color-blue">{{item.minsalary}}-{{item.maxsalary}}</span>
               </div>
            </div>
            <div class="row">
               <div class="col-50">
                  <span>公司名称{{}}</span>
               </div>
               <div class="col-50 qy-text-right">
                  <span>{{item.updt}}</span>
               </div>
            </div>
            <ion-option-button ng-click="deleteMyRelease($index)" class="button-assertive">删除</ion-option-button>
         </ion-item>
      </ion-list>
   </ion-content>
</ion-nav-view>