<ion-nav-view name="myResume">
   <ion-header-bar class="bar-calm">
      <a href="#/tab/recruitMessing" class="button button-clear icon ion-ios-arrow-back"></a><a style="line-height:42px;text-align:center" ng-click="modal.show()" class="title button button-clear">我的简历<i class="icon ion-ios-arrow-down"></i></a><a ui-sref="myResPre" class="button button-clear">预览</a>
   </ion-header-bar>
   <ion-content style="padding:0 20px;">
      <div class="list">
         <!--a.item.row(style="padding:12px;border-left:none;border-right:none;",ui-sref="resumeName")span.col-50 简历名称
span.col-50.qy-text-right 前端工程师求职简历
    i.icon.ion-chevron-right(style="margin-left:12px;")-->
         <a style="padding:12px;border-left:none;border-right:none;" ui-sref="essentialMes" class="item row">
            <span class="col-50">基本信息</span>
            <span class="col-50 qy-text-right">编辑<i style="margin-left:12px;" class="icon ion-chevron-right"></i>
            </span>
         </a>
         <a style="padding:12px;border-left:none;border-right:none;" ui-sref="jobIntention" class="item row">
            <span class="col-50">求职意向</span>
            <span class="col-50 qy-text-right">编辑<i style="margin-left:12px;" class="icon ion-chevron-right"></i>
            </span>
         </a>
         <a style="padding:12px;border-left:none;border-right:none;" ui-sref="education" class="item row">
            <span class="col-50">教育经历</span>
            <span class="col-50 qy-text-right">编辑<i style="margin-left:12px;" class="icon ion-chevron-right"></i>
            </span>
         </a>
         <a style="padding:12px;border-left:none;border-right:none;" ui-sref="jobHistory" class="item row">
            <span class="col-50">工作经历</span>
            <span class="col-50 qy-text-right">编辑<i style="margin-left:12px;" class="icon ion-chevron-right"></i>
            </span>
         </a>
         <a style="padding:12px;border-left:none;border-right:none;" ui-sref="jobSkill({title:'职业技能'})" class="item row">
            <span class="col-50">职业技能</span>
            <span class="col-50 qy-text-right">编辑<i style="margin-left:12px;" class="icon ion-chevron-right"></i>
            </span>
         </a>
         <a style="padding:12px;border-left:none;border-right:none;" ui-sref="jobSkill({title:'自我描述'})" class="item row">
            <span class="col-50">自我描述</span>
            <span class="col-50 qy-text-right">编辑<i style="margin-left:12px;" class="icon ion-chevron-right"></i>
            </span>
         </a>
      </div>
   </ion-content>
   <ion-footer-bar class="qy-pd0">
      <button ng-click="submitResum()" class="button button-positive button-full qy-margin0">保存简历</button>
   </ion-footer-bar>
</ion-nav-view>