<ion-nav-view name="positionEdit">
   <ion-header-bar class="bar-calm">
      <a href="#/myResume" class="button button-clear icon ion-ios-arrow-back"></a>
      <h1 style="text-align:center" class="title">编辑职位</h1><a ng-click="submitRecruit()" class="button button-clear">发布</a>
   </ion-header-bar>
   <ion-content style="padding:0 20px;">
      <label style="border-left:none;border-right:none;" class="item item-input">
         <span class="input-label">职位名称</span>
         <input type="text" style="text-align:right;" placeholder="请输入职位名称" ng-model="$root.recruitMsg.posit" />
      </label>
      <label style="border-left:none;border-right:none;" class="item item-input">
         <span class="input-label">公司名称</span>
         <input type="text" style="text-align:right;" placeholder="请输入公司名称" ng-model="$root.recruitMsg.companyName" />
      </label>
      <!--a.item.row(style="padding:12px;border-left:none;border-right:none;",ng-click="selectEntranceDate()")span.col-50 地&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp址
span.col-50.qy-text-right 庆阳市、{{help.county}}、{{help.township}}
    i.icon.ion-chevron-right(style="margin-left:12px;")-->
      <label style="border-left:none;border-right:none;" class="item item-input item-select">
         <span class="input-label">性&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp质</span>
         <select ng-model="$root.recruitMsg.worknat" ng-options="x.value as x.text for x in positionNature"></select>
      </label>
      <label style="border-left:none;border-right:none;" class="item item-input item-select">
         <span class="input-label">学&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp历</span>
         <select ng-model="$root.recruitMsg.edureq" ng-options="x.value as x.text for x in educationList"></select>
      </label>
      <label style="border-left:none;border-right:none;" class="item item-input item-select">
         <span class="input-label">月&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp薪</span>
         <select ng-model="$root.recruitMsg.salary" ng-options="x.text as x.text for x in salary"></select>
      </label>
      <label style="border-left:none;border-right:none;" class="item item-input">
         <span class="input-label">工作地址</span>
         <input type="text" style="text-align:right;" placeholder="请输入工作地址" ng-model="$root.recruitMsg.workadd" />
      </label>
      <a style="padding:12px;border-left:none;border-right:none;" ui-sref="postSelect({type:2})" class="item row">
         <span class="col-50">招聘岗位</span>
         <span class="col-50 qy-text-right">{{jobReturn($root.recruitMsg.position)}}<i style="margin-left:12px;" class="icon ion-chevron-right"></i>
         </span>
      </a>
      <label style="border-left:none;border-right:none;" class="item item-input">
         <span class="input-label">人&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp数</span>
         <input type="text" style="text-align:right;" placeholder="请输入人数" ng-model="$root.recruitMsg.reqpeos" />
      </label>
      <a style="padding:12px;border-left:none;border-right:none;" ui-sref="jobSkill({title:'薪酬福利'})" class="item row">
         <span class="col-50">薪酬福利</span>
         <span class="col-50 qy-text-right">请输入您的福利...<i style="margin-left:12px;" class="icon ion-chevron-right"></i>
         </span>
      </a>
      <a style="padding:12px;border-left:none;border-right:none;" ui-sref="jobSkill({title:'岗位职责'})" class="item row">
         <span class="col-50">岗位职责</span>
         <span class="col-50 qy-text-right">请输入岗位职责...<i style="margin-left:12px;" class="icon ion-chevron-right"></i>
         </span>
      </a>
      <a style="padding:12px;border-left:none;border-right:none;" ui-sref="jobSkill({title:'岗位要求'})" class="item row">
         <span class="col-50">职位要求</span>
         <span class="col-50 qy-text-right">请输入职位要求...<i style="margin-left:12px;" class="icon ion-chevron-right"></i>
         </span>
      </a>
   </ion-content>
</ion-nav-view>