<ion-nav-view name="resumeName">
   <ion-header-bar class="bar-calm">
      <a href="#/myResume" class="button button-clear icon ion-ios-arrow-back"></a>
      <h1 style="text-align:center" class="title">简历名称</h1><a ng-click="save()" class="button button-clear">保存</a>
   </ion-header-bar>
   <ion-content style="padding:0 20px;">
      <label style="border-left:none;border-right:none;" class="item item-input">
         <span class="input-label">简历名称</span>
         <input type="text" style="direction:rtl;" placeholder="请输入名称" ng-model="name" />
      </label>
   </ion-content>
</ion-nav-view>