<ion-nav-view name="postSelect">
   <ion-header-bar class="bar-calm item-input-inset">
      <a href="#/jobIntention" class="button button-clear icon ion-ios-arrow-back"></a>
      <label class="item-input-wrapper"><i class="icon ion-ios-search placeholder-icon"></i>
         <input type="text" placeholder="请输入需要搜索的标题" style="width:100%;" ng-model="crux.key" ng-change="search()" />
      </label><a ng-click="transferPosition()" class="button button-clear">搜索</a>
   </ion-header-bar>
   <ion-content style="padding:0 10px;">
      <div class="list">
         <a ng-repeat="item in news" href="#/newsList/{{item.ttlid}}" class="item item-thumbnail-left">
            <!--img(ng-src="{{item.src}}")-->
            <img ng-src="ftp://ftp:FTPmedia@172.16.0.252:21/uploads/1489482429931.jpg" />
            <h2 style="white-space:normal">{{item.ttltitle}}</h2>
            <p style="margin-top:16px;">{{item.reldate}}</p>
         </a>
      </div>
   </ion-content>
</ion-nav-view>