<ion-modal-view style="min-height:60%;top:40%;">
   <ion-header-bar class="bar-light">
      <div ng-show="showBackBtn" class="buttons">
         <button ng-click="goBackSlide()" style="color:#000;" class="button button-clear">返回</button>
      </div>
      <h1 class="title">选择地址</h1>
      <div class="buttons">
         <button ng-click="PCTModal.hide()" class="button button-clear">取消</button>
      </div>
   </ion-header-bar>
   <div class="bar bar-subheader">
      <div class="row">
         <div style="width:33%;" class="col-30 qy-text-center">
            <span ng-if="!selectedAddress.province">请选择</span>
            <span ng-if="selectedAddress.province">{{selectedAddress.province}}</span>
         </div>
         <div style="width:33%" class="col-30 qy-text-center">
            <span ng-if="!selectedAddress.city">请选择</span>
            <span ng-if="selectedAddress.city">{{selectedAddress.city}}</span>
         </div>
         <div style="width:33%" class="col-30 qy-text-center">
            <span ng-if="!selectedAddress.town">请选择</span>
            <span ng-if="selectedAddress.town">{{selectedAddress.town}}</span>
         </div>
      </div>
   </div>
   <ion-content overflow-scroll="true" style="overflow:hidden" class="has-subheader">
      <ion-slide-box show-pager="false" style="height: 100%;" does-continue="false" delegate-handle="PCTSelectDelegate" ng-init="lockSlide()">
         <ion-slide>
            <ion-scroll style="height: 100%;" scrollbar-y="false" delegate-handle="PCTSelectProvince">
               <ion-item ng-click="chooseProvince(item)" ng-repeat="item in provincesData" style="padding:12px 12px 12px 24px;" class="item-icon-right">
                  <span>{{item}}</span>
               </ion-item>
            </ion-scroll>
         </ion-slide>
         <ion-slide>
            <ion-scroll style="height: 100%;" scrollbar-y="false" delegate-handle="PCTSelectCity">
               <ion-item ng-click="chooseCity(item);" ng-repeat="item in citiesData" style="padding:12px 12px 12px 24px;" class="item-icon-right">
                  <span>{{item}}</span><i class="icon ion-ios-arrow-right icon-item"></i>
               </ion-item>
            </ion-scroll>
         </ion-slide>
         <ion-slide>
            <ion-scroll style="height:100%;" scrollbar-y="false" delegate-handle="PCTSelectTown">
               <ion-item ng-click="chooseTown(item);" ng-repeat="item in townData" style="padding:12px 12px 12px 24px;" class="item-icon-right">
                  <span>{{item}}</span><i class="icon ion-ios-arrow-right icon-item"></i>
               </ion-item>
            </ion-scroll>
         </ion-slide>
      </ion-slide-box>
   </ion-content>
</ion-modal-view>