<!--Created by Administrator on 2017/3/17.
-->
<ion-nav-view>
   <ion-header-bar class="bar-calm">
      <a href="#/tab/volunteerNews" class="button button-clear icon ion-ios-arrow-back"></a><a style="line-height:42px;text-align:center" ng-click="showSubMenu()" class="title button button-clear">管理活动<i class="icon ion-ios-arrow-down"></i></a><i ng-click="addAct()" class="button button-clear icon ion-ios-plus-empty"></i>
   </ion-header-bar>
   <!--div.bar.bar-subheader-->
   <!--   h2 {{}}-->
   <ion-content>
      <ion-refresher pulling-text="下拉刷新" refreshing-text="刷新成功" refreshing-icon="ion-loading-c" on-refresh="doRefresh()"></ion-refresher>
      <div class="item">
         <h3 style="text-align:left;" class="row">
            <span class="col-50 qy-color-blue">当前协会：{{item.actitle}}</span>
         </h3>
      </div>
      <ion-list ng-repeat="item in dataList" ng-click="openList(item.actid)">
         <ion-item style="border-bottom-color:transparent;;min-height:100px;padding-bottom:10px;" class="item-thumbnail-left">
            <img ng-src="{{item.imgurl}}" style="max-width:100px;max-height:80px;border-radius:initial;" />
            <h2 style="text-align:left;" class="row">
               <span class="col-50">{{item.actitle}}</span>
            </h2>
            <div style="margin-top:25px;" class="row">
               <span style="text-align:left;color:#999;font-size:13px;" class="col-33">{{publicMethod.createTime(item.audate,item.audtime)|timeFormat}}</span>
               <span style="min-height:22px;line-height:20px;min-width:56px;font-size:13px;background-color:#11c1f3;color:#fff;border-radius:4px;text-align:center;" class="col-20">待审核</span>
               <!--span.col-20(style="min-height:22px;line-height:20px;min-width:56px;font-size:13px;background-color:#11c1f3;color:#fff;border-radius:4px;text-align:center;") 已过期-->
            </div>
            <ion-option-button ng-show="true" ng-click="mgrLive(item)" class="button-calm">管理直播</ion-option-button>
            <ion-option-button ng-show="true" ng-click="delLive(item)" class="button-assertive">删除</ion-option-button>
         </ion-item>
      </ion-list>
      <ion-infinite-scroll ng-if="couldLoadMore" on-infinite="loadMore()" distance="10%" immediate-check="false"></ion-infinite-scroll>
   </ion-content>
</ion-nav-view>