<!--Created by Administrator on 2017/3/20.-->
<ion-nav-view>
   <ion-header-bar class="bar-calm">
      <a ng-click="go_back()" class="button button-clear icon ion-ios-arrow-back"></a>
      <h1 style="text-align:center;font-size:18px;" class="title">详情</h1><i ng-click="" class="button button-clear">分享</i>
   </ion-header-bar>
   <ion-content style="padding:5px 15px;">
      <div style="margin-left:0px;margin-right:0px;box-shadow:none;margin-top:0px;" class="list card">
         <div style="border-color:transparent;background-color:transparent;padding:4px 0px;border-width:3px;" ng-if="dataDetail.isShow" class="item item-assertive">
            <div style="text-align:center;" class="row">
               <p style="color:#000;" class="col-50">招募人数：
                  <span>{{dataDetail.supeo}}</span>
               </p>
               <p style="color:black;" class="col-50">已报人数：
                  <span>{{dataDetail.supeoApplay}}</span>
                  <span style="min-height:20px;line-height:12px;" ng-click="openList(dataDetail.assnoid)" class="button button-small">直播详情</span>
               </p>
            </div>
         </div>
         <div style="padding-left:0px;padding-right:0px;padding-top:10px;" class="item item-body">
            <h2 style="margin:initial;text-align:center;font-size:18px;" class="title">{{dataDetail.actitle}}</h2>
            <div style="padding:0px;" class="row">
               <p style="margin-top:6px;margin-bottom:6px;font-size:12px;color:#999;" class="col-50 text-left">时间：
                  <span>{{publicMethod.createTime(dataDetail.audate,dataDetail.audtime)|timeFormat}}</span>
               </p>
               <!--p.col-50.text-right(style="margin-top:6px;font-size:12px;color:#999;") 来源：-->
               <!--   span 中国青年网{{}}-->
            </div>
            <div style="padding-bottom:5px;text-indent:2em;line-height:1.5em;">
               <span>{{dataDetail.actcon}}</span>
            </div>
            <img ng-src="{{dataDetail.imgurl}}" class="full-image" />
         </div>
      </div>
   </ion-content>
   <ion-footer-bar style="padding:0px;" ng-if="dataDetail.isShow">
      <button ng-click="showAlert(dataDetail.assnoid)" style="background-color:#11c1f3;margin:0px;font-size:17px;" class="button button-positive button-full">我要报名</button>
   </ion-footer-bar>
</ion-nav-view>