<!--Created by Administrator on 2017/3/21.-->
<ion-nav-view>
   <ion-header-bar class="bar-calm">
      <a ng-click="go_back()" class="button button-clear icon ion-ios-arrow-back"></a>
      <h1 style="text-align:center;" class="title">填写申请</h1>
   </ion-header-bar>
   <ion-content style="padding:0 20px;">
      <div style="border-color:transparent" class="list">
         <label style="border-color:transparent;padding-left:0px;margin-top:10px;" class="item item-input item-stacked-label">
            <span class="input-label"><i style="color:#11c1f3">*</i>
               <span style="margin-left:5px;color:#646464">姓名 ：</span>
            </span>
            <input type="text" placeholder="请输入姓名" style="border:1px solid #ccc;padding:5px 12px;margin-top:5px;margin-top:10px;" ng-model="apply.username" />
         </label>
         <label style="border-color:transparent;padding-left:0px;" class="item item-input item-stacked-label">
            <span class="input-label"><i style="color:#11c1f3">*</i>
               <span style="margin-left:5px;color:#646464">性别 ：</span>
            </span>
            <input type="text" style="border:1px solid #ccc;padding:5px 12px;margin-top:10px;" ng-model="apply.userpro" />
         </label>
         <label style="border-color:transparent;padding-left:0px;" class="item item-input item-stacked-label">
            <span class="input-label"><i style="color:#11c1f3">*</i>
               <span style="margin-left:5px;color:#646464">个人特长 ：</span>
            </span>
            <textarea type="text" placeholder="请描述你的个人特长..." rows="5" cols="20" style="border:1px solid #ccc;padding:5px 12px;margin-top:10px;" ng-model="apply.userstp"></textarea>
         </label>
         <label style="border-color:transparent;padding-left:0px;" class="item item-input item-stacked-label">
            <span class="input-label"><i style="color:#11c1f3">*</i>
               <span style="margin-left:5px;color:#646464">请上传个人证件及相关资料 ：</span>
            </span>
            <textarea type="text" placeholder="请输入简介" rows="5" cols="20" style="border:1px solid #ccc;padding:5px 12px;margin-top:10px;" ng-model="docData.docurl"></textarea>
         </label>
      </div>
   </ion-content>
   <ion-footer-bar style="padding:0px;">
      <button ng-click="successPop()" style="background-color:#11c1f3;margin:0px;font-size:17px;" class="button button-positive button-full">提交申请</button>
   </ion-footer-bar>
</ion-nav-view>