<ion-nav-view name="helpPeople">
   <ion-header-bar class="bar-calm">
      <a href="#/tab/hopeProject" class="button button-clear icon ion-ios-arrow-back"></a>
      <h1 style="text-align:center" class="title">帮助Ta</h1>
   </ion-header-bar>
   <ion-content style="padding:0 20px;">
      <div class="list card">
         <label for="money" class="row">请输入捐款金额：</label>
         <label style="border-color:transparent;" class="item item-input">
            <span style="width:inherit;" class="input-label">￥</span>
            <input type="text" id="money" ng-model="donationList.amount" />
         </label>
      </div>
      <div class="list card">
         <div style="border-bottom:1px solid #ddd" class="row">请选择捐款方式：</div>
         <ion-list>
            <ion-radio name="contribution" ng-model="donationList.contribution" ng-value="1">匿名捐助</ion-radio>
            <ion-radio name="contribution" ng-model="donationList.contribution" ng-value="2">实名捐助</ion-radio>
         </ion-list>
      </div>
      <div class="list card">
         <div style="border-bottom:1px solid #ddd" class="row">请选择支付方式：</div>
         <ion-list>
            <ion-radio name="payment" ng-model="donationList.payment" ng-value="1">微信支付</ion-radio>
            <ion-radio name="payment" ng-model="donationList.payment" ng-value="2">支付宝</ion-radio>
            <ion-radio name="payment" ng-model="donationList.payment" ng-value="3">银行卡支付</ion-radio>
         </ion-list>
      </div>
   </ion-content>
   <ion-footer-bar class="bar-positive">
      <bottom style="text-align:center;margin:0 auto;width:100%;" ng-click="loginPop()" class="button button-block button-clear">立即支付</bottom>
   </ion-footer-bar>
</ion-nav-view>