<ion-view>
   <ion-header-bar ng-init="hopeShow=true" class="bar-calm"><i menu-toggle="left" class="button button-clear icon ion-navicon"></i><a style="line-height:42px;text-align:center" ng-click="modal.show()" ng-if="hopeShow" class="title">希望工程<i class="icon ion-ios-arrow-down"></i></a>
      <label ng-if="!hopeShow" class="item-input-wrapper"><i class="icon ion-ios-search placeholder-icon"></i>
         <input type="text" placeholder="请输入需要搜索的标题" style="width:100%;" ng-model="crux.key" ng-change="doRefresh()" />
      </label><i ng-show="!hopeShow" ng-click="hopeShow=!hopeShow" class="button button-clear">取消</i><i ng-show="hopeShow" ng-click="hopeShow=!hopeShow" class="button button-clear icon ion-android-search"></i>
   </ion-header-bar>
   <ion-content class="has-header">
      <ion-refresher pulling-text="下拉刷新" refreshing-text="刷新成功" refreshing-icon="ion-loading-c" on-refresh="doRefresh()"></ion-refresher>
      <div ng-repeat="item in hopes" ng-click="openList(item)" class="list card">
         <div style="border-bottom-color:transparent;" class="item item-avatar">
            <img ng-src="{{item.img}}" />
            <div class="row">
               <h2 style="text-align:left;" class="col-50">{{item.hppownerName || item.hppowner.toNumber()}}</h2>
               <span style="text-align:right;" class="col-50">{{item.reldate}}</span>
            </div>
         </div>
         <div style="border-top-color:transparent;" class="item item-body qy-pt0">
            <p class="qy-margin0">{{item.hpptitle}}</p>
            <p class="row">
               <span style="text-align:left" class="col-50">已有
                  <span class="qy-color-blue">{{item.countHppoff}}</span>人捐助</span>
               <span style="text-align:right" class="col-50">已筹
                  <span class="qy-color-blue">{{item.amount/100 | number:2}}</span>元</span>
            </p>
         </div>
      </div>
      <ion-refresher pulling-text="下拉刷新" refreshing-text="刷新成功" refreshing-icon="ion-loading-c" on-refresh="doRefresh()"></ion-refresher>
   </ion-content>
</ion-view>