<!--Create tabs with an icon and label, using the tabs-positive style.-->
<!--Each tab's child <ion-nav-view> directive will have its own-->
<!--navigation history that also transitions its views in and out.-->
<ion-tabs class="tabs-icon-top tabs-color-active-positive">
   <!--Dashboard Tab-->
   <ion-tab title="资讯" icon-on="ion-ios-paper" icon-off="ion-ios-paper-outline" href="#/tab/dash">
      <ion-nav-view name="tab-news">
         <!--ion-header-bar.bar-calm(ng-init="newShow=true")i.button.button-clear.icon.ion-navicon(menu-toggle="left")
h1.title(style="text-align:center",ng-if="newShow") 资讯
label.item-input-wrapper(ng-if="!newShow")
    i.icon.ion-ios-search.placeholder-icon
    input(type="text",placeholder="请输入需要搜索的标题",style="width:100%;",ng-model="crux.key",ng-change="queryNews()")
i.button.button-clear(ng-show="!newShow",ng-click="newShow=!newShow;") 取消
i.button.button-clear.icon.ion-android-search(ng-show="newShow",ng-click="newShow=!newShow")
-->
      </ion-nav-view>
   </ion-tab>
   <!--Chats Tab-->
   <ion-tab title="希望工程" icon-on="ion-android-star" icon-off="ion-android-star-outline" href="#/tab/hopeProject">
      <ion-nav-view name="tab-hopeProject">
         <!--ion-header-bar.bar-calm(ng-init="hopeShow=true")i.button.button-clear.icon.ion-navicon(menu-toggle="left")
a.title.button.button-clear(style="line-height:42px;text-align:center",ng-click="$root.modal.show()",ng-if="hopeShow") 希望工程
    i.icon.ion-ios-arrow-down
label.item-input-wrapper(ng-if="!hopeShow")
    i.icon.ion-ios-search.placeholder-icon
    input(type="text",placeholder="请输入需要搜索的标题",style="width:100%;",ng-model="crux.key",ng-change="queryNews()")
i.button.button-clear(ng-show="!hopeShow",ng-click="hopeShow=!hopeShow") 取消
i.button.button-clear.icon.ion-android-search(ng-show="hopeShow",ng-click="hopeShow=!hopeShow")-->
      </ion-nav-view>
   </ion-tab>
   <!--Account Tab-->
   <ion-tab title="就业创业" icon-on="ion-ios-person" icon-off="ion-ios-person-outline" href="#/tab/recruitMessing">
      <ion-nav-view name="tab-recruitMessing">
         <!--ion-header-bar.bar-calmi.button.button-clear.icon.ion-navicon(menu-toggle="left")
a.title.button.button-clear(style="line-height:42px;text-align:center",ng-click="$root.modal.show()") 招聘信息
    i.icon.ion-ios-arrow-down
i.button.button-clear.icon.ion-android-search-->
      </ion-nav-view>
   </ion-tab>
   <ion-tab title="权益维护" icon-on="ion-ribbon-b" icon-off="ion-ribbon-b" href="#/tab/expert">
      <ion-nav-view name="rights">
         <!--ion-header-bar.bar-calm-->
         <!--    i.button.button-clear.icon.ion-navicon(menu-toggle="left")-->
         <!--    a.title.button.button-clear(style="line-height:42px;text-align:center",ng-click="$root.modal.show()") 专家信息-->
         <!--        i.icon.ion-ios-arrow-down-->
         <!--    i.button.button-clear.icon.ion-android-search-->
      </ion-nav-view>
   </ion-tab>
   <ion-tab title="志愿服务" icon-on="ion-ios-heart" icon-off="ion-ios-heart-outline" href="#/tab/volunteerNews">
      <ion-nav-view name="volunteer">
         <!--ion-header-bar.bar-calm-->
         <!--    i.button.button-clear.icon.ion-navicon(menu-toggle="left")-->
         <!--    h1.title(style="text-align:center") 志愿服务-->
         <!--    i.button.button-clear.icon.ion-android-search-->
      </ion-nav-view>
   </ion-tab>
</ion-tabs>