<ion-view>
   <ion-header-bar ng-init="newShow=true" class="bar-calm"><i menu-toggle="left" class="button button-clear icon ion-navicon"></i>
      <h1 style="text-align:center" ng-if="newShow" class="title">资讯</h1>
      <label ng-if="!newShow" class="item-input-wrapper"><i class="icon ion-ios-search placeholder-icon"></i>
         <input type="text" placeholder="请输入需要搜索的标题" style="width:100%;" ng-model="crux.key" ng-change="doRefresh()" />
      </label><i ng-show="!newShow" ng-click="newShow=!newShow;" class="button button-clear">取消</i><i ng-show="newShow" ng-click="newShow=!newShow" class="button button-clear icon ion-android-search"></i>
   </ion-header-bar>
   <ion-content>
      <ion-refresher pulling-text="下拉刷新" refreshing-text="刷新成功" refreshing-icon="ion-loading-c" on-refresh="doRefresh()"></ion-refresher>
      <div class="list">
         <a ng-repeat="item in news" ng-click="goList(item)" class="item item-thumbnail-left">
            <!--img(ng-src="{{item.src}}")-->
            <img ng-src="ftp://ftp:FTPmedia@172.16.0.252:21/uploads/1489482429931.jpg" />
            <h2 style="white-space:normal">{{item.ttltitle}}</h2>
            <p style="margin-top:16px;">{{item.reldate}}</p>
         </a>
      </div>
      <ion-infinite-scroll ng-if="couldLoadMore" on-infinite="loadMore()" distance="10%" immediate-check="false"></ion-infinite-scroll>
   </ion-content>
</ion-view>