<!--Created by Administrator on 2017/3/13.-->
<!--Created by Administrator on 2017/3/7.-->
<ion-nav-view>
   <ion-header-bar class="bar-calm">
      <a ng-click="go_back()" class="button button-clear icon ion-ios-arrow-back"></a>
      <h1 style="text-align:center" class="title">咨询信息详情</h1>
   </ion-header-bar>
   <ion-content class="page-bg">
      <div style="border-bottom-color:transparent;" class="item item-avatar qy-mb5">
         <img ng-src="{{zixun.img}}" />
         <h2 style="text-align:left;" class="row">
            <span class="col-50">{{zixun.name}} 名字</span>
         </h2>
         <div class="row">
            <h2 style="text-align:left;">联系方式</h2>
            <span>122212</span>
         </div>
      </div>
      <div class="section qy-mb5">
         <p class="card-title">Ta的问题</p>
         <p class="card-content">{{zixun.emacon}}</p>
      </div>
      <div style="background:#fff;padding-left:0px;padding-right:0px;top:0px;margin-bottom:0px;margin-top:0px;" ng-init="isActive=true" class="item item-divider tabs tabs-striped tabs-top tabs-color-calm row"><a ng-class="{true:'active'}[isActive]" ng-click="isActive=true;seeDonation()" class="tab-item col-50">专家意见</a><a ng-class="{false:'active'}[isActive]" ng-click="isActive=false;seeMessage()" class="tab-item col-50">网友留言</a>
      </div>
      <div ng-if="isActive==true" style="padding-right:0;" class="list">
         <div ng-repeat="item in huifuList" class="item item-text-wrap">
            <div style="border:none !important;" class="item-avatar">
               <img ng-src="{{item.img}}" />
               <h2 style="text-align:left;" class="row">
                  <span class="col-50">{{(item.relpeo).toNumber()}} -{{item.relpeoName}}</span>
               </h2>
               <div class="row">
                  <h2 style="text-align:left;">{{item.type}}??专家类型未提供</h2>
               </div>
            </div>
            <div>
               <div content-format="content-format" contentformatsrc="{{item.relcon}}"></div>
               <div class="row">
                  <p class="col col-70">{{publicMethod.createTime(item.reldate,item.reltime)|timeFormat}}</p>
                  <p ng-click="zan(item)" class="col col-30 text-right calm">
                     <span class="icon ion-ios-heart-outline"></span>
                     <span>{{item.ppn}}点赞数未提供</span>
                  </p>
               </div>
            </div>
         </div>
      </div>
      <div ng-if="isActive==false" class="list">
         <div ng-repeat="item in huifuList" class="item item-text-wrap">
            <div style="border:none !important;" class="item-avatar">
               <img ng-src="{{item.img}}" />
               <h2 style="text-align:left;" class="row">
                  <span class="col-50">{{(item.relpeo).toNumber()}} -{{item.relpeoName}}</span>
               </h2>
               <div class="row">
                  <h2 style="text-align:left;">{{item.type}}??用户类型未提供</h2>
               </div>
            </div>
            <div>
               <div content-format="content-format" contentformatsrc="{{item.relcon}}"></div>
               <div class="row">
                  <p class="col col-70">{{publicMethod.createTime(item.reldate,item.reltime)|timeFormat}}</p>
                  <p ng-click="zan(item.ppn)" class="col col-30 text-right calm">
                     <span class="icon ion-ios-heart-outline"></span>
                     <span>12231??点赞数未提供</span>
                  </p>
               </div>
            </div>
         </div>
      </div>
   </ion-content>
   <ion-footer-bar ng-show="show" ng-click="publicMethod.judgeLogin('回复功能');changeShow()">
      <div class="row">
         <div style="padding:2px 5px;" class="col-60">
            <input placeholder="填写回复" style="width:100%;" ng-init="show=true" ng-focus="show=false;" />
         </div>
         <button class="col-40 button button-positive">我要回复</button>
      </div>
   </ion-footer-bar>
   <ion-footer-bar ng-show="!show" style="height:200px;width:100%;">
      <!--div(style="width:100%;text-align:center;")-->
      <!--   div(style="position:relative;height:34px;")-->
      <!--      button.button.button-small(style="position:absolute;top:0px;left:0px;",ng-click="show=true") 取消-->
      <!--      span(style="padding:5px;display:inline-block;") 填写回复-->
      <!--      button.button.button-small.button-positive(style="position:absolute;top:0px;right:0px;",ng-click="comment()") 发表-->
      <!--   div(style="height:100%;")-->
      <!--      textarea(placeholder="编辑回复",style="width:100%;height:100%;",ng-model="message",ng-init="show=true",ng-focus="show=false")-->
      <div style="width:100%;text-align:center;height:100%;position:relative;">
         <div style="position:relative;height:38px;background:#FFF;padding-bottom:4px;">
            <button style="position:absolute;top:0px;left:0px;" ng-click="show=true" class="button button-small">取消</button>
            <span style="padding:5px;display:inline-block;">填写回复</span>
            <button style="position:absolute;top:0px;right:0px;" ng-click="comment()" class="button button-small button-positive">发表</button>
         </div>
         <div>
            <textarea placeholder="编辑问题" style="width:100%;height:150px;border:1px solid #CCC;" ng-model="message" ng-init="show=true" ng-focus="show=false"></textarea>
         </div>
      </div>
   </ion-footer-bar>
</ion-nav-view>