<!--Created by Administrator on 2017/3/7.-->
<!--Created by Administrator on 2017/3/7.-->
<ion-nav-view>
   <ion-header-bar class="bar-calm">
      <a href="#/tab/expert" class="button button-clear icon ion-ios-arrow-back"></a><a style="line-height:42px;text-align:center" ng-click="showSubMenu()" class="title button button-clear">我的咨询<i class="icon ion-ios-arrow-down"></i></a><i class="button button-clear icon ion-android-search"></i>
   </ion-header-bar>
   <ion-content>
      <ion-refresher pulling-text="下拉刷新" refreshing-text="刷新成功" refreshing-icon="ion-loading-c" on-refresh="doRefresh()"></ion-refresher>
      <div ng-repeat="item in dataList" ng-click="openList(item.emaid)">
         <div style="border-bottom-color:transparent;" class="item item-avatar">
            <img ng-src="{{item.img}}" />
            <div class="row">
               <div class="col-67">
                  <h2 style="text-align:left;">{{(item.userid).toNumber()}}
                     <span class="tip">新消息</span>
                  </h2>
                  <h2 style="text-align:left;">{{item.ematitle}}</h2>
               </div>
               <div style="vertical-align:bottom;" class="col-33 text-right">
                  <span style="text-align:right;">{{publicMethod.createTime(item.reldate,item.reltime)|timeFormat}}</span>
               </div>
            </div>
         </div>
      </div>
      <ion-infinite-scroll ng-if="couldLoadMore" on-infinite="loadMore()" distance="10%" immediate-check="false"></ion-infinite-scroll>
   </ion-content>
</ion-nav-view>