<ion-nav-view name="authentication">
   <ion-header-bar class="bar-calm">
      <a href="#/tab/dash" class="button button-clear icon ion-ios-arrow-back"></a>
      <h1 style="text-align:center;" class="title">用户认证</h1>
   </ion-header-bar>
   <ion-content style="padding:0 20px;">
      <div style="margin-top:100px;" class="list">
         <div style="border-top:none;border-right:none;border-left:none;" class="item item-input">
            <label style="color:#646464">企业用户认证：
               <span style="color:#212121">待审核</span>
            </label>
         </div>
         <div style="border-right:none;border-left:none;border-top:none;" class="item item-input">
            <label style="color:#646464">专家用户认证：
               <span style="color:#212121">无</span>
            </label>
         </div>
         <div style="border-right:none;border-left:none;border-top:none;border-bottom:none;" class="item item-input">
            <label style="color:#646464">志愿者协会认证：
               <span style="color:#1ebe29;">审核通过</span>
            </label>
         </div>
      </div>
      <button ng-click="authenticationPop()" class="button button-block button-calm">申请认证</button>
   </ion-content>
</ion-nav-view>
<!--script(type="text/ng-template" id='authenticationPop.html')-->
<!--    ion-list-->
<!--        ion-radio(ng-repeat="item in authenticationList", ng-model="date.choices" ,ng-value="item.value") {{item.text}}-->