<ion-nav-view name="enterprise">
   <ion-header-bar class="bar-calm">
      <a href="#/authentication" class="button button-clear icon ion-ios-arrow-back"></a>
      <h1 style="text-align:center;" class="title">企业认证</h1>
   </ion-header-bar>
   <ion-content style="padding:0 20px;">
      <div style="border-color:transparent" class="list">
         <label style="border-color:transparent;padding-left:0px;margin-top:10px;" class="item item-input item-stacked-label">
            <span class="input-label"><i style="color:#11c1f3">*</i>
               <span style="margin-left:5px;color:#646464">企业名称：</span>
            </span>
            <input type="text" placeholder="请输入名称" style="border:1px solid #ccc;padding:5px 12px;margin-top:5px;margin-top:10px;" ng-model="enterprise.name" />
         </label>
         <label style="border-color:transparent;padding-left:0px;" class="item item-input item-select">
            <span class="input-label"><i style="color:#11c1f3">*</i>
               <span style="margin-left:10px;color:#646464">企业性质：</span>
            </span>
            <select ng-model="enterprise.userpro" ng-options="x.value as x.property for x in userpro" style="color:#646464;"></select>
         </label>
         <label style="border-color:transparent;padding-left:0px;" class="item item-input item-stacked-label">
            <span class="input-label"><i style="color:#11c1f3">*</i>
               <span style="margin-left:5px;color:#646464">证件号：</span>
            </span>
            <input type="text" placeholder="请输入证件号" style="border:1px solid #ccc;padding:5px 12px;margin-top:10px;" ng-model="enterprise.id" />
         </label>
         <label style="border-color:transparent;padding-left:0px;" class="item item-input item-stacked-label">
            <span class="input-label"><i style="color:#11c1f3">*</i>
               <span style="margin-left:5px;color:#646464">请上传企业的营业执照：</span>
            </span>
         </label>
         <div class="controls">
            <div>
               <wo-plupload req-headers="headers"></wo-plupload>
            </div>
         </div>
      </div>
   </ion-content>
   <ion-footer-bar style="padding:0px;">
      <button ng-click="successPop()" style="background-color:#11c1f3;" class="button button-positive button-full qy-margin0">提交申请</button>
   </ion-footer-bar>
</ion-nav-view>