<ion-nav-view name="expert">
   <ion-header-bar class="bar-calm">
      <a href="#/authentication" class="button button-clear icon ion-ios-arrow-back"></a>
      <h1 class="title">专家认证</h1>
   </ion-header-bar>
   <ion-content style="padding:0 20px;">
      <div style="border-color:transparent" class="list">
         <label style="border-color:transparent;padding-left:0px;" class="item item-input item-stacked-label">
            <span class="input-label"><i style="color:#11c1f3">*</i>
               <span style="margin-left:5px;color:#646464">类别：</span>
            </span>
            <input type="text" placeholder="请输入类别" style="border:1px solid #ddd;padding:5px 12px;" />
         </label>
         <label>
            <span class="input-label"><i style="color:#11c1f3">*</i>
               <span style="margin-left:5px;color:#646464">类别：{{selectedType}}</span>
               <select ng-model="selectedType"></select>
               <option ng-repeat="item in expertTypes" ng-value="item.eaid">{{item.eaname}}</option>
            </span>
         </label>
         <label style="border-color:transparent;padding-left:0px;" class="item item-input item-stacked-label">
            <span class="input-label"><i style="color:#11c1f3">*</i>
               <span style="margin-left:5px;color:#646464">简介：</span>
            </span>
            <textarea type="text" placeholder="请输入简介" rows="5" cols="20" style="border:1px solid #ddd;padding:5px 12px;"></textarea>
         </label>
         <label style="border-color:transparent;padding-left:0px;" class="item item-input item-stacked-label">
            <span class="input-label"><i style="color:#11c1f3">*</i>
               <span style="margin-left:5px;color:#646464">请上传身份证信息：</span>
            </span>
            <textarea type="text" placeholder="请输入简介" rows="5" cols="20" style="border:1px solid #ddd;padding:5px 12px;"></textarea>
         </label>
         <button ng-click="successPop()" class="button button-positive button-full">提交申请</button>
      </div>
   </ion-content>
</ion-nav-view>