<ion-nav-view name="login">
   <ion-header-bar class="bar-calm">
      <a href="#/tab/dash" class="button button-clear icon ion-ios-arrow-back"></a>
      <h1 style="text-align:center;" class="title">登录</h1>
   </ion-header-bar>
   <ion-content style="padding:0 20px;">
      <div style="margin-top:100px;" class="list">
         <label style="border-top:none;border-right:none;border-left:none;" class="item item-input"><i style="font-size:150%;color:#11c1f3;" class="icon ion-ios-person-outline"></i>
            <input type="text" placeholder="请输入您的手机号" ng-model="user.userid" style="margin-left:15px;color:#999;" />
         </label>
         <label style="border-right:none;border-left:none;" class="item item-input"><i style="font-size:150%;color:#11c1f3;" class="icon ion-ios-locked-outline"></i>
            <input type="text" placeholder="请输入密码" ng-model="user.passwd" style="margin-left:15px;color:#999;" />
         </label>
      </div>
      <button ng-click="login()" style="margin-top:30px;margin-bottom:15px;" class="button button-block button-calm">登录</button><a style="background:#fff;border-color:#11c1f3;color:#11c1f3;border:solid #11c1f3 3px;" ui-sref="register" class="button button-block">注册</a><a style="color:#11c1f3;display:block;text-align:center;" ui-sref="resetPwd">忘记密码?</a>
   </ion-content>
</ion-nav-view>