<ion-nav-view name="register">
   <ion-header-bar class="bar-calm">
      <a href="#/tab/dash" class="button button-clear icon ion-ios-arrow-back"></a>
      <h1 style="right:37px;" class="title qy-text-center">注册</h1>
   </ion-header-bar>
   <ion-content style="padding:0 20px;">
      <div style="margin-top:100px;" class="list">
         <label style="border-top:none;border-right:none;border-left:none;" class="item item-input"><i style="font-size:150%;color:#11c1f3;width:18px;" class="icon ion-ios-person-outline"></i>
            <input type="text" placeholder="请输入您的手机号" ng-model="user.userid" ng-blur="isExistUserId()" ng-change="clearCod()" style="margin-left:15px;color:#999;"
            />
         </label>
         <div class="row">
            <label style="border:none;" class="item item-input col-67"><i style="font-size:150%;color:#11c1f3;margin-left:-7px;" class="icon ion-ios-chatbubble-outline"></i>
               <input type="text" placeholder="请输入验证码" ng-model="user.sms" style="margin-left:20px;color:#999;" />
            </label><a ng-click="getSms()" style="border:solid #11c1f3 1px;color:#11c1f3;background-color:#fff;margin-left:35px;margin-top:7px;max-height:26px;" class="button button-small">获取验证码 {{}}</a>
         </div>
         <label style="border-right:none;border-left:none;" class="item item-input"><i style="font-size:150%;color:#11c1f3;width:18px;" class="icon ion-ios-locked-outline"></i>
            <input type="password" placeholder="请输入您的密码" ng-model="user.passwd" style="margin-left:15px;color:#999;" />
         </label>
      </div>
      <button ng-click="registerSuccess()" class="button button-block button-calm">注册</button>
   </ion-content>
</ion-nav-view>