<ion-nav-view name="setUp">
   <ion-header-bar class="bar-calm">
      <a href="#/tab/dash" class="button button-clear icon ion-ios-arrow-back"></a>
      <h1 class="title qy-text-center">个人设置</h1><a ui-sref="personalDetail" class="button button-clear">修改</a>
   </ion-header-bar>
   <ion-content style="padding:0 20px;">
      <div style="margin-top:25px;" class="row">
         <img ng-src="../../img/adam.jpg" style="width:100px;height:100px;border-radius:50%;position:relative;left:50%;margin-left:-50px;border:2px solid #11c1f3" />
      </div>
      <div style="border-color:transparent;margin-top:12px;" class="row"><a style="border:1px solid #ccc;margin:0 auto;color:#999;" class="button button-small">点击修改</a>
      </div>
      <div style="margin-top:20px;">
         <div style="margin-top:0px;" class="row">
            <span style="text-align:right;color:#646464;" class="col-20">昵&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp称</span>
            <span style="color:#212121;" class="col-67 qy-text-right">{{userSting.nickname}}</span>
         </div>
         <div style="margin-top:0px;" class="row">
            <span style="text-align:right;color:#646464;" class="col-20">姓&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp名</span>
            <span style="color:#212121;" class="col-67 qy-text-right">{{userSting.username}}</span>
         </div>
         <div style="margin-top:0px;" class="row">
            <span style="text-align:right;color:#646464;" class="col-20">性&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp别</span>
            <span style="color:#212121;" class="col-67 qy-text-right">{{userSting.userpro}}</span>
         </div>
         <div style="margin-top:0px;" class="row">
            <span style="text-align:right;color:#646464;" class="col-20">出身年月</span>
            <span style="color:#212121;" class="col-67 qy-text-right">1991-01{{}}</span>
         </div>
         <div style="margin-top:0px;" class="row">
            <span style="text-align:right;color:#646464;" class="col-20">地&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp址</span>
            <span style="color:#212121;" class="col-67 qy-text-right">{{userSting.address}}</span>
         </div>
         <div style="margin-top:0px;" class="row">
            <span style="text-align:right;color:#646464;" class="col-20">身&nbsp&nbsp份&nbsp&nbsp证</span>
            <span style="color:#212121;" class="col-67 qy-text-right">{{userSting.docid}}</span>
         </div>
         <div style="margin-top:0px;" class="row">
            <span style="text-align:right;color:#646464;" class="col-20">电&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp话</span>
            <span style="color:#212121;" class="col-67 qy-text-right">{{userSting.usertel}}</span>
         </div>
         <div style="margin-top:0px;" class="row">
            <span style="text-align:right;color:#646464;" class="col-20">邮&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp&nbsp箱</span>
            <span style="color:#212121;" class="col-67 qy-text-right">{{userSting.useremail}}</span>
         </div>
         <div style="margin-top:0px;" class="row">
            <span style="text-align:right;color:#646464;" class="col-20">用户类型</span>
            <span style="color:#212121;" class="col-67 qy-text-right">333333333</span>
         </div>
         <div style="margin-top:0px;" class="row">
            <span style="text-align:right;color:#646464;" class="col-20">用户密码</span>
            <span style="color:#212121;" class="col-67 qy-text-right">******</span>
         </div>
         <!--.row(style="margin-top:10px;")a.col-50(style="text-align:center;color:#11c1f3;margin-left:20px;")
    i.icon.ion-checkmark-circled
    span(style="color:#999;margin-left:8px;") 显示密码
a.col-50(style="color:#11c1f3;display:block;text-align:center;margin-left:-15px;",ui-sref="resetPwd") 忘记密码?-->
      </div>
   </ion-content>
</ion-nav-view>